anyio==3.5.0
asgiref==3.4.1
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.6
fastapi==0.109.1
h11==0.13.0
idna==3.7
immutables==0.16
importlib-metadata==4.8.3
joblib==1.2.0
mlflow
numpy==1.22.0
pandas==1.1.5
pydantic==1.9.0
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.1
scipy==1.11.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
starlette==0.36.2
threadpoolctl==3.1.0
typing-extensions==4.1.1
uvicorn==0.16.0
zipp==3.6.0